html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.25rem;
}

body{
  margin: 0;
}

h3 {
  font-size: 20px;
  color: "#666666";
}

svg {
  display: flex;
  vertical-align: middle;
}

.controls {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 1.25rem 0;
  text-align: center;
}

.controls > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: #f02062;
  color: #fff;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}
.controls > button:hover {
  background: #e00b4e;
}
.controls > button:first-child {
  margin-right: 0.25rem;
}